.form{
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 95%;
    margin: 10px auto;
    padding: 2px;
    font-size:small;
    /* height: 600px; */
}
.dateContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    color: rgb(31, 13, 193);
    text-decoration: solid underline ;
    font-size: small;
}