

.form{
    background-color: white;
    border-radius: 5px;
    width: 550px;
    margin: 10px auto;
    padding: 10px;
    text-align: left;
    font-size: small;
    /* height: 600px; */
}

/* .form_body{
    text-align: left;
    padding: 1px 10px;
}

.form_body > *{
    padding: 5px;
}

.form__label{
    width: 40%;
}

.form_input{
    width: 60%;
}

.footer{
    text-align: center;
} */