

.form{
    background-color: white;
    border-radius: 5px;
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    font-size: small;
    text-align: left !important;
    /* height: 600px; */
}


