.dateContainer{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid;
    color: rgb(0, 0, 0);
    text-decoration: solid underline ;
    /* font-size: larger; */
}

.date{
    width: 10%;
    height: 50px;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    /* border-bottom-style: groove; */
}
.containTable{
     background-color: rgb(255, 255, 255);
    border-radius: 5px;
    width: 95%;
    margin: 10px auto;
    padding: 2px;
    font-size:small;
}

.description{
  width: 303px !important;
}

.duration{
  width:108px;
}

.sl{
    width: 44px;
}

.projectCode{
    width: 135px;
}

.desc{
    width: 260px;
}

.status{
    width: 130px;
}

.dmTo{
    width: 189px;
}